
body{ 
    font-family: "Montserrat", sans-serif;
    margin:0 ;
    background-color:#1af55f;
    color: white;
    overflow: hidden;
  }
.main{
  display: flex;
  height: 100vh;
  padding: 0.2rem;
  
}
.SideBar{
  background-color:#1af55f;
  width: 240px;
  border-radius: 1rem; /* 16px */
  margin-right: 0.25rem;
}
.main-content{
  background-color: #121212;;
  flex:1;
  border-radius: 1rem;
  overflow: auto;

  
}

.music-player{
  background-color: black;
  bottom: 0;
  width: 100%;

  position: fixed;
  height: 72px;
}
a{
  text-decoration: none;
  color: white;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}
.nav-option{

  height: 2.5rem;
  line-height: 2.5rem;
  opacity: 0.7;
}
.nav-option:hover{

  opacity: 1;
;
}
.nav-option i{
  font-size: 1.2rem;

}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
  
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
}
.option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons{
  font-size: 1.25rem;
}
.icons i{
  opacity: 0.5;
  margin-right: 0.5rem;
}
.icons i:hover{
  opacity: 1;
}
.box{
  background-color: rgb(38, 38, 38);
  height: 8.5rem;
  border-radius: 1rem;
  margin: 0.5rem 0rem 0.75rem 0rem ;
  padding: 0.75rem 1rem;
}
.box-p1{
  font-size: 0.9rem;
  font-weight: 600;
}
.box-p2{
  font-size: 0.7rem;
  opacity: 0.9;
  
}
#boxp2{
  margin-bottom: 2rem;
}
.badge{
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.sticky-nav{
  position: sticky;
  top: 0;
  background-color: rgb(1, 28, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  z-index: 10;
}
 
.sticky-nav-icons img{
 margin-left: 0.75rem;

}

.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items{
  margin-right: 1.5rem;
}

.dark-badge{
  background-color: black;
  color:white;
}
@media (max-width: 1000px){
  .hide{
    display: none;
  }
}
.card{
  background-color: #1e1e1f;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.card-container{
  display: flex  ;
  flex-wrap: wrap;
  padding: 0 1.5rem 0 1.5rem;
  
}
h2{
  padding: 0 1.5rem 0 1.5rem;
}
.card-image{
width: 100%;
}
.card-title{
  font-weight: 600;
}
.card-info{
  font-size: 0.85rem;
  opacity: 0.8;
}
.music-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.album{
  height: 100%;
}
 
.album img{
  width: 65%;
  height: 100%
  ;
  margin-left: 50px;


  

  /* background-color: pink; */
}
.player{
  width: 50%;
  /* background-color: rgb(133, 1, 23);*/
} 

.controls{
  
  width: 25%;
  /* background-color: rgb(16, 48, 210); */
}

.player-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.playback-bar{
  /* margin-left: 70px; */
  align-items: center;
  margin-top: 10px;
}

.player-controls-icons{
  height: 1rem;
  
}

